{% extends "base.html" %}
{% block content %}
    {% if files is none%}
        <h3 style="color: red">无此目录</h3>
    {% else %}
        <ol class="breadcrumb">
        {% set pre = "/" %}
        <li><a href="{{ url_for('index', path=pre) }}">Home</a></li>
        {% for dir in path if dir != ""%}
            <li><a href="{{ url_for('index', path=pre+dir) }}">{{ dir }}</a></li>
            {% set pre = pre + dir + "/" %}
        {% endfor %}
        </ol>

        {% if files.length == 0 %}
            <h3 style="color: red">目录下无文件/文件夹</h3>
        {% endif %}
        <table class="table table-hover table-responsive">
            {% for file in files %}
                <tr>
                    <td>
                    {% if not file[1] %}
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    {% endif %}
                        &nbsp;&nbsp;{{ file[0] }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
